# Core
python>=3.8

# Data handling
pandas
numpy
pyarrow
openpyxl    # if reading Excel files

# HDFS
hdfs        # Python HDFS client
requests    # for downloading datasets

# Big Data / Spark
pyspark>=3.0.0

# Visualization
plotly
matplotlib
seaborn

# Interactive dashboard
streamlit

# Jupyter / Notebooks
jupyter
notebook

# Testing
pytest

# Misc / utilities
python-dotenv   # if you want env files for config
tqdm            # progress bars for loops
